@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

:root {
    --editorIndentGuide-activeBackground: #383838;
    --editorIndentGuide-background: #2A2A2A;
    --editorRuler-foreground: #2A2A2A;
    --editorLineNumber-foreground: #727272;
    --activityBar-background: #1A1A1A;
    --activityBar-foreground: #7D7D7D;
    --activityBarBadge-background: #383838;
    --badge-background: #383838;
    --badge-foreground: #C1C1C1;
    --button-background: #333;
    --editor-background: #1f1f1f;
    --editor-lineHighlightBorder: #303030;
    --editorGroupHeader-tabsBackground: #1A1A1A;
    --editorGroupHeader-tabsBorder: #1A1A1A;
    --editorSuggestWidget-background: #1A1A1A;
    --focusBorder: #444;
    --foreground: #888888;
    --gitDecoration-ignoredResourceForeground: #444444;
    --input-background: #2A2A2A;
    --input-foreground: #E0E0E0;
    --list-activeSelectionBackground: #212121;
    --list-activeSelectionForeground: #F5F5F5;
    --list-focusBackground: #292929;
    --list-highlightForeground: #EAEAEA;
    --list-hoverBackground: #262626;
    --list-hoverForeground: #9E9E9E;
    --list-inactiveSelectionBackground: #212121;
    --list-inactiveSelectionForeground: #F5F5F5;
    --panelTitle-activeBorder: #1f1f1f;
    --panelTitle-activeForeground: #FAFAFA;
    --panelTitle-inactiveForeground: #484848;
    --peekView-border: #444;
    --peekViewEditor-background: #242424;
    --pickerGroup-border: #363636;
    --pickerGroup-foreground: #EAEAEA;
    --progressBar-background: #FAFAFA;
    --scrollbar-shadow: #1f1f1f;
    --sideBar-background: #1A1A1A;
    --sideBarSectionHeader-background: #202020;
    --statusBar-background: #1A1A1A;
    --statusBar-debuggingBackground: #1A1A1A;
    --statusBar-foreground: #7E7E7E;
    --statusBar-noFolderBackground: #1A1A1A;
    --statusBarItem-remoteForeground: #7E7E7E;
    --statusBarItem-remoteBackground: #1a1a1a00;
    --statusBarItem-prominentBackground: #fafafa1a;
    --tab-activeBorder: #1e1e1e;
    --tab-activeForeground: #FAFAFA;
    --tab-border: #1A1A1A;
    --tab-inactiveBackground: #1A1A1A;
    --tab-inactiveForeground: #727272;
    --textLink-foreground: #CCC;
    --textLink-activeForeground: #fafafa;
    --titleBar-activeBackground: #1A1A1A;
    --titleBar-border: #00000000;
    --terminal-ansiBrightBlack: #5c5c5c;
    --inputOption-activeBackground: #3a3a3a;
    --debugIcon-continueForeground: #FF7A84;
    --debugIcon-disconnectForeground: #FF7A84;
    --debugIcon-pauseForeground: #FF7A84;
    --debugIcon-restartForeground: #79b8ff;
    --debugIcon-startForeground: #79b8ff;
    --debugIcon-stepBackForeground: #FF7A84;
    --debugIcon-stepIntoForeground: #FF7A84;
    --debugIcon-stepOutForeground: #FF7A84;
    --debugIcon-stepOverForeground: #FF7A84;
    --debugIcon-stopForeground: #79b8ff;
    --debugIcon-breakpointCurrentStackframeForeground: #79b8ff;
    --debugIcon-breakpointDisabledForeground: #848484;
    --debugIcon-breakpointForeground: #FF7A84;
    --debugIcon-breakpointStackframeForeground: #79b8ff;
    --debugIcon-breakpointUnverifiedForeground: #848484;
    --symbolIcon-classForeground: #FF9800;
    --symbolIcon-enumeratorForeground: #FF9800;
    --symbolIcon-eventForeground: #FF9800;
    --symbolIcon-methodForeground: #b392f0;
    --symbolIcon-constructorForeground: #b392f0;
    --symbolIcon-functionForeground: #b392f0;
    --symbolIcon-fieldForeground: #79b8ff;
    --symbolIcon-interfaceForeground: #79b8ff;
    --symbolIcon-variableForeground: #79b8ff;
    --symbolIcon-enumeratorMemberForeground: #79b8ff;
    --diffEditor-insertedTextBackground: #3a632a4b;
    --diffEditor-removedTextBackground: #88063852;
    --tokenInfoToken-foreground: #316bcd;
    --tokenWarnToken-foreground: #cd9731;
    --tokenErrorToken-foreground: #cd3131;
    --tokenDebugToken-foreground: #800080;
    --punctuationDefinitionArguments-foreground: #bbbbbb;
    --customMarkdownLinks-foreground: #ffab70;
    --customMarkdownList-foreground: #FF7A84;
    --customMarkdownPunctuationDefinition-foreground: #ffab70;
    --customMarkdownPunctuationDefinitionBrackets-foreground: #79b8ff;
}

body {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    box-sizing: border-box;
    overflow-x: hidden;
    background: var(--editor-background);
    font-family: "JetBrains Mono", "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--textLink-foreground);
}

h1 {
    color: var(--textLink-activeForeground);
}
  
p {
    font-size: 14px;
}